<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>news hub</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <script type="importmap">
        {
            "imports": {
            "vue": "https://unpkg.com/vue@3/dist/vue.esm-browser.js"
            }
        }
    </script>

    <div id="app">
        <div class="scroll-container">
            <div class="list-item">{{ items[currentItem] }}</div>
        </div>
        <div class="arrow up" @click="scrollUp">▲</div>
        <div class="arrow down" @click="scrollDown">▼</div>
    </div>

    <script src="http://localhost:25000/view/script.js" type="module"></script>
</body>
</html>